@use "./global/variables.scss" as v;


.button {
  padding: 8px 20px;
  font-family: v.$main-font;
  font-size: 16px;
  line-height: 24px;
  color: v.$base-white;
  background-color: v.$base-primary;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: none;
    color: v.$base-white;
    background-color: v.$alt-primary-lighter;
  }

  &:active {
    color: v.$base-white;
    background-color: v.$alt-primary-darker;
  }

  &:disabled {
    background-color: v.$base-grey;
  }

  &--reset {
    color: v.$base-primary;
    background-color: v.$base-white;

    &:disabled {
      color: v.$base-white;
      background-color: v.$alt-ligh-grey;
    }
  }

  &--shopping-cart {
    padding-left: 46px;
    font-size: 14px;
    line-height: 20px;
    background-image: url("../../images/icons/stack.svg#shopping-cart-white");
    background-size: 20px 16px;
    background-repeat: no-repeat;
    background-position: left 20px center;
  }
}
