@use "./global/variables.scss" as v;

.product-card {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  border-radius: 4px;
  background-color: v.$base-white;

  @media (min-width: v.$tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: v.$desktop-width) {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.product-card__image-link {
  order: 0;
  width: 130px;
  height: 188px;
  margin: 0 auto 24px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 30px;
  }
}

.product-card__image {
  object-fit: contain;
  object-position: center center;
}

.product-card__name {
  order: 1;
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.product-card__name-link {
  text-decoration: none;
  color: v.$base-black;
}

.product-card__desc {
  order: 2;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 20px;
  }
}

.product-card__price-wrapper {
  order: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__price {
  position: relative;
  top: 2px;
  left: -2px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
